{% extends 'core/home.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/home1.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/register_classes.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/list_classes.css'%}">
{% endblock %}

<title>{% block titre %} Classroom's registration {% endblock %}</title>

{% block liens %} 
	<a class="nav-link " aria-current="page" style="color: #5534A5;  " href="/">Home</a>
	<a class="nav-link " style="color: #5534A5; " href="{% url 'list/salles' %}">Planning</a>
	{% if admin == True %}
	<a class="nav-link active" style="color: #5534A5; text-decoration-line: underline;" href="{% url 'register/salles' %}">Personnalise</a>
	{% endif %}
	    {% if online == True %}
			<a class="nav-link" style="color: #5534A5;" href="../logout">Logout</a>
		{% else %}
			<a class="nav-link" style="color: #5534A5;" href="../login">Log in</a>
		{% endif %}
	{% endblock %}

{% block content %}	

<br><br>
	<div class="fixed-top" style="background-color:white; margin-top: 50px;">
		<div id="chercher"  >
			<a href="https://uy1.uninet.cm/"> <img class="" src="{% static 'core/img/logo1.png'%}"  style="height: 70px; width: 50px; margin-left: 75%; "></img> </a>
			<br>
			<form method=POST action="{% url 'searchsalles' %}" class="form-inline" id="btn1">
				{% csrf_token %}
				<input class="form-control mr-sm-2" type="search" name="searched" value = "" required placeholder="Type a search" aria-label="Search" id="btn">
			 	<button class="btn btn-light my-2 my-sm-1" id="btn2" type="submit" style="margin-left:-50px; border-color:white; border-radius: 50px;"><img src="{% static 'core/img/loupe.png'%}" width="15px" height="15px" style="border-radius: 50px; padding-top:0%; padding-bottom:2%; border-color:white;"></button>
			</form>
		</div>

		<div id="menu" >
			<ul style=" ">
				<li><a href="{% url 'register/salles' %}" style="color:black; font-weight: normal;">Classrooms</a></li>
				<li><a href="{% url 'register/classes' %}" style="color:black; font-weight: normal;">Classes</a></li>
				<li><a href="{% url 'register/teachers' %}" style="color:black; font-weight: normal;">Teachers</a></li>
				<li><a href="{% url 'register/courses' %}" style="color:black; font-weight: normal;">Courses</a></li>
				<li><a href="{% url 'scheduler_form' %}" >Scheduler_form</a></li>
				<li><a href="{% url 'scheduler_plann' %}" style="color:black; font-weight: normal;">Scheduler_planning</a></li>

			</ul>
			<hr style="width:90%; margin-top: 0px; height:9px; border-radius: 6px; color: red; opacity: 1;  background-color:#5534A5 ;; !important ; margin-left: 0px; padding-left: 0px;margin-left: 5%;">
		</div><br>
	</div> <br><br><br><br><br>
	<div  style="margin-left: 5%; margin-right:5%">
		{% for occ in list_classes %}
			<div style="color: #5534A5; text-decoration: underline; margin-left: 5%;">{{occ.filiere}} sector</div>
			<div id="R10">		
				{% for classe in occ.classes %}
			  		<div  class="card" style="width:200px; height: 130px;">
			  		
				  		<div class="card-header" style="background-color:#205BDD ; width:100%; height:44%; text-align:center; border-radius: 5px;color: white;">
				    		{{classe.filiere}} {{classe.niveau}} {{classe.specialite | default_if_none:""}}
				  		</div>

					  	<div class="card-body" style=" height:94%;">
						  	<div class="" style="display: flex;flex-direction: row; justify-content: space-between; color: grey;font-size: 0.5;">
							    <p >{{classe.groupe}} </p>
							    <p >Size:{{classe.effectif}}</p>
					   		</div>
				    		<a href="../sheduler/classes/{{classe.id}}/" style="font-size: 0.95em; margin-left: 25%; padding-top: -5px; color: #5534A5 ; text-decoration:none;" >Add the scheduler</a>
				  		</div>
			  		</div>	
		  		{% endfor %}
			</div> <br><br><br>
		{% endfor %}	
	</div>

</div>

{% endblock %}