{% extends 'core/home.html' %}

{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/home1.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'core/css/list_classes.css'%}">

{% endblock %}

<title>{% block titre %} List of classes {% endblock %}</title>

{% block liens %} 
	<a class="nav-link " aria-current="page" style="color: #5534A5;  " href="/">Home</a>
	<a class="nav-link active" style="color: #5534A5; text-decoration-line: underline;" href="{% url 'list/salles' %}">Planning</a>
	{% if admin == True %}
		<a class="nav-link" style="color: #5534A5;" href="{% url 'register/salles' %}">Personnalise</a>
	{% endif %}
	    {% if online == True %}
			<a class="nav-link" style="color: #5534A5;" href="../../../logout">Logout</a>
		{% else %}
			<a class="nav-link" style="color: #5534A5;" href="../../../login">Log in</a>
		{% endif %}
	{% endblock %}


{% block content %}

<div id="contenu"> <br><br><br>
	<div class="fixed-top" style="background-color:white; margin-top: 50px;">
		<div id="chercher"  >
			<a href="https://uy1.uninet.cm/"> <img class="" src="{% static 'core/img/logo1.png'%}"  style="height: 70px; width: 50px; margin-left: 75%; "></img> </a>
			<br>
			<form method=POST action="{% url 'searchclasses' %}" class="form-inline" id="btn1">
				{% csrf_token %}
			 	<input class="form-control mr-sm-2" type="search" name="searched" value = "" required placeholder="Type a search" aria-label=" Search" id="btn">
			 	<button class="btn btn-outline-success my-2 my-sm-1" id="btn2" type="submit" style="margin-left:-50px; border-color:white;"><img src="{% static 'core/img/loupe.png' %}" width="15px" height="15px" style="border-radius: 50px; padding-top:0%; padding-bottom:2%">
			 	</button>
			</form>

		</div>
		<div id="menu">
			<ul>
				<li><a href="{% url 'list/salles' %}" style="color:black; font-weight: normal;">Classrooms</a></li>
				<li><a href="{% url 'list/classes' %}">Classes</a></li>
				<li><a href="{% url 'list/teachers' %}" style="color:black; font-weight: normal;">Teachers</a></li>
			</ul>
			<hr style="width:90%; margin-top: 0px; height:9px; border-radius: 6px; color: red; opacity: 1;  background-color:#5534A5 ;; !important ; margin-left: 0px; padding-left: 0px;margin-left: 5%;">

		</div> <br>
	</div> <br><br><br><br><br><br><br><br><br>

	<div >
		<!--<div id="download" align="right">
		<button>
			<img src="../../../static/core/img/download_button.png" width="60px" height="55px">
			<a href="">Download the whole schedule</a>
		</button> -->
{% if number > 0 %}
	</div>
		{% for occ in list_classes %}
			<div style="color: #5534A5; text-decoration: underline; margin-left: 5%;">{{occ.filiere}} sector</div>
			<div id="R10">		
				{% for classe in occ.classes %}
			  		<div  class="card" style="width:250px; height: 150px;">
			  		
				  		<div class="card-header" style="background-color:#205BDD ; width:100%; height:44%; text-align:center; border-radius: 5px;color: white;">
				    		{{classe.filiere}} {{classe.niveau}} {{classe.specialite | default_if_none:""}}
				  		</div>

					  	<div class="card-body" style=" height:94%;">
					  		<a href="../sheduler/classes/{{classe.slug}}/" style="text-decoration:none;" >
						  	<div class="" style="display: flex;flex-direction: row; justify-content: space-between; color: grey;font-size: 0.5;">
							    <p >{{classe.groupe}} </p>
							    <p >Size:{{classe.effectif}}</p>
					   		</div></a>
				    		<a href="../sheduler/classes/{{classe.slug}}/" style="font-size: 0.95em; margin-left: 30%; padding-top: -5px; color: #5534A5 ; text-decoration:none;" >Get the scheduler</a>
				  		</div>
			  		</div>	
		  		{% endfor %}
			</div> <br><br><br>
		{% endfor %}	
	</div>
	{% else %}
		<div id="R10">	
            <h2 >Nothing found, try with other words...</h2>
		</div>	
	{% endif %}
</div>

{% endblock %}