{% extends 'core/home.html' %}

{% block link %}
<link rel="stylesheet" type="text/css" href="../../../static/core/css/home1.css">
<link rel="stylesheet" type="text/css" href="../../../static/core/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../../static/core/css/register_classes.css">
<link rel="stylesheet" type="text/css" href="../../../static/core/css/edit_scheduler.css">
<link rel="stylesheet" type="text/css" href="../../../static/core/css/show_scheduler.css">
<script type="text/javascript">
	function imprimer(divName) {
      	var printContents = document.getElementById(divName).innerHTML;    
   		var originalContents = document.body.innerHTML;      
   		document.body.innerHTML = printContents;     
   		window.print();     
   		document.body.innerHTML = originalContents;
   }

</script>
{% endblock %}

<title>{% block titre %} Scheduler - {{classe}} {% endblock %}</title>

{% block liens %} 
	<a class="nav-link " aria-current="page" style="color: #5534A5;  " href="/">Home</a>
	<a class="nav-link " style="color: #5534A5; " href="{% url 'list/salles' %}">Planning</a>
	{% if admin == True %}
		<a class="nav-link active" style="color: #5534A5; text-decoration-line: underline;" href="{% url 'register/salles' %}">Personnalise</a>
	{% endif %}
	    {% if online == True %}
			<a class="nav-link" style="color: #5534A5;" href="../../../logout">Logout</a>
		{% else %}
			<a class="nav-link" style="color: #5534A5;" href="../../../login">Log in</a>
		{% endif %}
	{% endblock %}

{% block content %}	

<div id="o1">
	
	<p class="titrePage" style="margin-bottom: 40px"> TIME TABLE OF {{classe}} </p>

	

	
	<table id="tableau" >
		<tr id="enteteT">
			<td >  </td>
			<td > Monday </td>
			<td > Tuesday </td>
			<td > Wednesday </td>
			<td>Thursday</td>
			<td>Friday</td>
			<td>Saturday</td>
			<td>Sunday</td>
			
		</tr>

		<tr >
			<td class="heure" > 07h05 - 9h55 </td>
			<td class="cell" onclick="openBox(1)" id="cell1">{{emploi1.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi1.nom_ens2 | default:""}}</span><br>{{emploi1.cours}}<br>{{emploi1.salle}}</td>
			<td class="cell" onclick="openBox(6)" id="cell2">{{emploi6.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi6.nom_ens2}}</span><br>{{emploi6.cours}}<br>{{emploi6.salle}}</td>
			<td class="cell" onclick="openBox(11)" id="cell3">{{emploi11.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi11.nom_ens2}}</span><br>{{emploi11.cours}}<br>{{emploi11.salle}}</td>
			<td class="cell" onclick="openBox(16)" id="cell4">{{emploi16.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi16.nom_ens2}}</span><br>{{emploi16.cours}}<br>{{emploi16.salle}}</td>
			<td class="cell" onclick="openBox(21)" id="cell5">{{emploi21.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi21.nom_ens2}}</span><br>{{emploi21.cours}}<br>{{emploi21.salle}}</td>
			<td class="cell" onclick="openBox(26)" id="cell6">{{emploi26.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi26.nom_ens2}}</span><br>{{emploi26.cours}}<br>{{emploi26.salle}}</td>
			<td class="cell" onclick="openBox(31)" id="cell7">{{emploi31.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi31.nom_ens2}}</span><br>{{emploi31.cours}}<br>{{emploi31.salle}}</td>
		</tr>

		<tr >
			<td class="heure"> 10h05 - 12h55 </td>
			<td class="cell" onclick="openBox(2)" id="cell8"> {{emploi2.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi2.nom_ens2}}</span><br>{{emploi2.cours}}<br>{{emploi2.salle}}</td>
			<td class="cell" onclick="openBox(7)" id="cell9"> {{emploi7.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi7.nom_ens2}}</span><br>{{emploi7.cours}}<br>{{emploi7.salle}}</td>
			<td class="cell" onclick="openBox(12)" id="cell10"> {{emploi12.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi12.nom_ens2}}</span><br>{{emploi12.cours}}<br>{{emploi12.salle}}</td>
			<td class="cell" onclick="openBox(17)" id="cell11"> {{emploi17.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi17.nom_ens2}}</span><br>{{emploi17.cours}}<br>{{emploi17.salle}}</td>
			<td class="cell" onclick="openBox(22)" id="cell12"> {{emploi22.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi22.nom_ens2}}</span><br>{{emploi22.cours}}<br>{{emploi22.salle}}</td>
			<td class="cell" onclick="openBox(27)" id="cell13"> {{emploi27.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi27.nom_ens2}}</span><br>{{emploi27.cours}}<br>{{emploi27.salle}}</td>
			<td class="cell" onclick="openBox(32)" id="cell14"> {{emploi32.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi32.nom_ens2}}</span><br>{{emploi32.cours}}<br>{{emploi32.salle}}</td>
		</tr>

		<tr >
			<td class="heure" > 13h05 - 15h55 </td>
			<td class="cell" onclick="openBox(3)" id="cell15"> {{emploi3.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi3.nom_ens2}}</span><br>{{emploi3.cours}}<br>{{emploi3.salle}}</td>
			<td class="cell" onclick="openBox(8)" id="cell16"> {{emploi8.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi8.nom_ens2}}</span><br>{{emploi8.cours}}<br>{{emploi8.salle}}</td>
			<td class="cell" onclick="openBox(13)" id="cell17"> {{emploi13.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi13.nom_ens2}}</span><br>{{emploi13.cours}}<br>{{emploi13.salle}}</td>
			<td class="cell" onclick="openBox(18)" id="cell18"> {{emploi18.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi18.nom_ens2}}</span><br>{{emploi18.cours}}<br>{{emploi18.salle}} </td>
			<td class="cell" onclick="openBox(23)" id="cell19"> {{emploi23.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi23.nom_ens2}}</span><br>{{emploi23.cours}}<br>{{emploi23.salle}}</td>
			<td class="cell" onclick="openBox(28)" id="cell20"> {{emploi28.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi28.nom_ens2}}</span><br>{{emploi28.cours}}<br>{{emploi28.salle}}</td>
			<td class="cell" onclick="openBox(33)" id="cell21">{{emploi33.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi33.nom_ens2}}</span><br>{{emploi33.cours}}<br>{{emploi33.salle}} </td>
		</tr>

		<tr >
			<td class="heure"> 16h05 - 18h55 </td>
			<td class="cell" onclick="openBox(4)" id="cell22"> {{emploi4.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi4.nom_ens2}}</span><br>{{emploi4.cours}}<br>{{emploi4.salle}}</td>
			<td class="cell" onclick="openBox(9)" id="cell23"> {{emploi9.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi9.nom_ens2}}</span><br>{{emploi9.cours}}<br>{{emploi9.salle}}</td>
			<td class="cell" onclick="openBox(14)" id="cell24"> {{emploi14.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi14.nom_ens2}}</span><br>{{emploi14.cours}}<br>{{emploi14.salle}}</td>
			<td class="cell" onclick="openBox(19)" id="cell25"> {{emploi19.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi19.nom_ens2}}</span><br>{{emploi19.cours}}<br>{{emploi19.salle}}</td>
			<td class="cell" onclick="openBox(24)" id="cell26">{{emploi24.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi24.nom_ens2}}</span><br>{{emploi24.cours}}<br>{{emploi24.salle}} </td>
			<td class="cell" onclick="openBox(29)" id="cell27"> {{emploi29.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi29.nom_ens2}}</span><br>{{emploi29.cours}}<br>{{emploi29.salle}}</td>
			<td class="cell" onclick="openBox(34)" id="cell28"> {{emploi34.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi34.nom_ens2}}</span><br>{{emploi34.cours}}<br>{{emploi34.salle}}</td>
		</tr>

		<tr >
			<td class="heure"> 19h05 - 21h55 </td>
			<td class="cell" onclick="openBox(5)" id="cell29"> {{emploi5.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi5.nom_ens2}}</span><br>{{emploi5.cours}}<br>{{emploi5.salle}}</td>
			<td class="cell" onclick="openBox(10)" id="cell30"> {{emploi10.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi10.nom_ens2}}</span><br>{{emploi10.cours}}<br>{{emploi10.salle}}</td>
			<td class="cell" onclick="openBox(15)" id="cell31"> {{emploi15.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi15.nom_ens2}}</span><br>{{emploi15.cours}}<br>{{emploi15.salle}}</td>
			<td class="cell" onclick="openBox(20)" id="cell32">{{emploi20.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi20.nom_ens2}}</span><br>{{emploi20.cours}}<br>{{emploi20.salle}} </td>
			<td class="cell" onclick="openBox(25)" id="cell33"> {{emploi25.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi25.nom_ens2}}</span><br>{{emploi25.cours}}<br>{{emploi25.salle}}</td>
			<td class="cell" onclick="openBox(30)" id="cell34"> {{emploi30.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi30.nom_ens2}}</span><br>{{emploi30.cours}}<br>{{emploi30.salle}}</td>
			<td class="cell" onclick="openBox(35)" id="cell35"> {{emploi35.nom_ens1}}<br><span style="font-size: 13px; font-style: italic; ">{{emploi35.nom_ens2}}</span><br>{{emploi35.cours}}<br>{{emploi35.salle}}</td>
		</tr>
		
		
	</table>



	



	<div id="box">
		<div id="jourHeure"></div>
		
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{% if form.course.errors %}
				<div class="alert alert-danger" role="alert" style="font-size: 20px; width: 82.5%;margin-left: 17.5%; margin-right: 7%;" >
	        		{{form.course.errors}}  
	        	</div>
	    	{% endif %}
			<div class="sec6">
				<label for="Tname" class="lib6">Course <span style="color:#5534A5">*</span> :</label>
	      		<select type="text" class="form-control" value="{{form.course.value | default_if_none:''}}"  name="course" id="lib6_1"  style="margin-right: 7%;" required>
					{% for course in courses %}
	      				<option>{{course}}</option>
	      			{% endfor %}
	      		</select>
			</div>

			{% if form.salle.errors %}
				<div class="alert alert-danger" role="alert" style="font-size: 20px; width: 82.5%;
					margin-left: 17.5%;" >
	        		{{form.salle.errors}}  
	        	</div>
	    	{% endif %}
			<div class="sec6">
				<label for="Tname" class="lib6">Classroom <span style="color:#5534A5">*</span> :</label>
	      		<select type="text" class="form-control" value="{{form.salle.value | default_if_none:''}}"  name="salle" id="lib6_1" style="margin-right: 7%;" required>
					{% for classroom in classrooms %}e
	      				<option>{{classroom}}</option>
	      			{% endfor %}
	      		</select>
			</div>

			{% if form.teacher1.errors %}
				<div class="alert alert-danger" role="alert" style="font-size: 20px; width: 82.5%;
					margin-left: 17.5%;" >
	        		{{form.teacher1.errors}}  
	        	</div>
	    	{% endif %}
			<div class="sec6">
				<label for="Tname" class="lib6"> Teacher 1 <span style="color:#5534A5">*</span> :</label>
	      		<select type="text" class="form-control" value="{{form.teacher1.value | default_if_none:''}}"  name="teacher1" id="lib6_1" style="margin-right: 7%;" required>
					{% for teacher in teachers %}
	      				<option>{{teacher}}</option>
	      			{% endfor %}
	      		</select>
			</div>

			{% if form.teacher2.errors %}
				<div class="alert alert-danger" role="alert" style="font-size: 20px; width: 82.5%;
					margin-left: 17.5%;" >
	        		{{form.teacher2.errors}}  
	        	</div>
	    	{% endif %}
			<div class="sec6">
				<label for="Tname" class="lib6"> Teacher 2 :</label>
	      		<select type="text" class="form-control" value="{{form.teacher2.value | default_if_none:''}}"  name="teacher2" id="lib6_1" style="margin-right: 7%;" >
	      			<option> </option>
					{% for teacher in teachers %}
	      				<option>{{teacher}}</option>
	      			{% endfor %}
	      		</select>
			</div>

			<div class="sec6" style="display: none;">
				<label for="Tname" class="lib6"> Plage :</label>
	      		<input type="number" class="form-control" name="plage" id="plage" style="margin-right: 7%;" >
	      		</select>
			</div>

			<div id="sec2" align="right">
			<input type="submit" name="submit" value="OK" class="sub"  onclick="closeBox()" >
			<input type="reset" name="cancel" value="Cancel" class="can"  onclick="closeBox()" >
			
			</div>
		</form>
	</div>



<div id="download" align="right">
		<a href="" onClick="imprimer('o1')">
			<button>
				<img src="../../../static/core/img/download_button.png" width="60px" height="55px">
				Download
			</button>
		</a>

	</div>
	

{% if form.errors %}
	<script type="text/javascript">
		window.onload = function openBox(e) {
		console.log(e)
		document.getElementById('box').style.top="300px";
		document.getElementById('plage').value = e
	}
	</script>
{% else %}
	<script type="text/javascript">
		function openBox(e) {
		console.log(e)
		document.getElementById('box').style.top="300px";
		document.getElementById('plage').value = e
	}	
	</script>
{% endif %}

	
{% endblock %}